{% extends 'base.html.twig' %}

{% block title %}Add Genre
{% endblock %}

{% block body %}
	<section class="mt-5">
		<h2 class="text-center">Ajouter un Genre</h2>
		<div class="row justify-content-center">
			<div class="col-sm-6">

				{{ form(addGenreType) }}

				</div>
			</div>
		</div>
	</section>
{% endblock %}
