body{
    
    position: relative;

}
.main-containt{
    border: 10px solid #F7D117;
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100%;
}

.navbar.bg-light{
    border: none !important;
}

#valueNumInventory {
    display: none;
}

.ss-value {
    padding: 10px !important;
    width: 120px !important;
    justify-content: center !important;
    
}

.ss-value-delete{
    margin-left: 20px !important;
}

#add-numero{
    border-radius: 7px;
}
#buttonDeleteLi{
    margin-top: 5px;
    border-radius: 7px;
}
#badgeValues{
    align-items: center;
}
.bg-radio{
    background-color: #F7D117;
}