body{
    
    position: relative;

}
.main-containt{
    border: 10px solid #F7D117;
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 100%;
}

.navbar.bg-light{
    border: none !important;
}

#valueNumInventory {
    display: none;
}

.ss-value {
    padding: 10px !important;
    width: 120px !important;
    justify-content: center !important;
    
}

.ss-value-delete{
    margin-left: 20px !important;
}

#add-numero{
    border-radius: 7px;
}
#buttonDeleteLi{
    margin-top: 5px;
    border-radius: 7px;
    transition: .3s all;
}
#buttonDeleteLi:hover{
    transform: scale(1.2);
}
#badgeValues{
    align-items: center;
}
#badgeValues p{
    text-shadow: 1px 1px 2px #757474;
}
.bg-radio{
    background-color: #F7D117;
}
a {
    text-decoration: none;
    color: lightgray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    font-size: 1rem;
}

.card {
    position: relative;
    box-shadow: 2px 2px 2px lightgray;
}

.card:hover {
    transform: translateY(-.4rem);
}

.card-delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 1.5rem;
}

.card-delete:hover {
    transform: scale(1.2);
    color: black;
}

.alert {
    width: 8rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

/* Tableau de résultats */
.table-search-disc tr {
    display: grid;
    grid-template-columns: 1.4fr 2fr 3fr 3fr 2.5fr 2.6fr;
}

.table-search-disc td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem !important;
}