{% extends 'base.html.twig' %}

{% block title %}Éditer des statistiques
{% endblock %}

{% block body %}
	<form >
		<div class="container">
			<div class="row justify-content-center my-3">
				<div class="col-md-4">
					<label for="date">Date de début</label>
					<input class="form-control" type="date" method="POST" placeholder="Choisissez une date de début" role="search" name="date_start">
				</div>
				<div class="col-md-4">
					<label for="date">Date de fin</label>
					<input class="form-control" type="date" method="POST" placeholder="Choisissez une date de fin" role="search" name="date_end">
				</div>
			</div>
			<div class="row justify-content-center my-3">
				<div class="col-md-8">
					<label for="date">Date d'entrée en playlist</label>
					<input class="form-control" type="date" method="POST" placeholder="Choisissez une date de saisie" role="search" name="date_playlist">
				</div>
			</div>
			<div class="row justify-content-center my-3">
				<div class="col-md-4">
					<label for="date">Provenance</label>
					<select class="form-control" name="nationality" class="form-select" id="nationality">
						<option></option>
						{% for nationality in nationalities %}
							<option>{{ nationality.lib }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-md-4">
					<label for="date">Langue</label>
					<select class="form-control" name="language" class="form-select" id="language">
						<option></option>
						<option>Francophone</option>
						<option>Anglophone</option>
					</select>
				</div>
			</div>
			<div class="row justify-content-center my-3">
				<div class="col-md-8">
					<label for="date">Nom de la playlist</label>
					<input class="form-control" type="text" method="POST" placeholder="Nommez votre playlist" name="name"></input>
			</div>
		</div>
		<div class="row justify-content-center my-3">
			<div class="col-md-8">
				<label for="date">Nombre de titres</label>
				<input class="form-control" type="number" method="POST" placeholder="Nombre de titre" name="number"></input>
		</div>

	</div>
	<div class="row justify-content-center my-3">
		<div class="col-md-8 text-center">
            <a href="" class="btn btn-outline-warning px-3 m-2">Statistique</a>
            <a href="" class="btn btn-outline-warning px-3 m-2">Export</a>
            <a href="" class="btn btn-outline-warning px-3 m-2">Export CMS</a>
            <a href="" class="btn btn-outline-warning px-3 m-2">Nombre de passage par disque</a>
        </div>
	</div>
	
</div></form>{% endblock %}
