{% extends 'base.html.twig' %}

{% block title %}AirPlay | nouvelle playlist
{% endblock %}

{% block body %}
	<div class="container mb-2">
		<p class="mb-3 border border-0 rounded bg-danger w-100 text-white text-center py-2 message" id="wrong_inventory_number_alert" hidden>
			Nope ! Le numéro est invalide.
		</p>
	</div>

	<div class="container mb-5">
		<form class="" action="{{ path('playlist_add') }}" method="GET">

			<div class="row">
				<div class="col-4">
					<label for="date">Date</label>
					<input class="form-control" type="date" id="date" name="date" value="jj/mm/aaaa" min="1980-01-01" max="2050-12-31" required>
				</div>

				<div class="col-4">
					<label for="title">Nom</label>
					<input class="form-control" type="text" id="title" name="title" placeholder="Saissez un nom de playlist" required>
				</div>

				<div class="col-4">
					<label for="name">Animateur.trice</label>
					<input class="form-control" list="names-choice" id="name" name="name" placeholder="Sélectionnez un.e animateur.trice" value="{{ app.user.username }}" required>
					<datalist id="names-choice">
						{% for name in animators %}
							<option value="{{ name }}"></option>
						{% endfor %}
					</datalist>
				</div>
			</div>

			<div class="row justify-content-center w-100">
				<div class="col-md-6 my-3">
					<label for="numero">Numéro d'inventaire</label>

					<div class="d-flex">
						<input type="text" 
								placeholder="Numéro d'inventaire" 
								id="numero" 
								class="form-control me-3"
								list="discs-choice">
						<button type="submit" 
								id="add-numero" 
								class="btn btn-outline-dark">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<div id="list-numeros" 
					name="discs[]" 
					class="row justify-content-center w-100 gx-0"></div>

				<select multiple="multiple" 
						name="discs[]" 
						id="select" 
						hidden></select>
			</div>

			<div class="d-flex justify-content-center mt-5">
				<button type="submit" class="btn btn-outline-warning py-3 px-5">Ajouter</button>
			</div>

		</form>
	</div>
{% endblock %}
