{% extends 'base.html.twig' %}

{% block title %}AirPlay | nouvelle playlist
{% endblock %}

{% block body %}
	<div class="container">
		<p class="mb-0 alert alert-danger" id="wrong_inventory_number_alert" hidden>
			Nope ! Le numéro est invalide.
		</p>
	</div>

	<div class="container">
		<form class="" action="{{ path('playlist_add') }}" method="GET">

			<div class="row">
				<div class="col-4">
					<label for="date">Date</label>
					<input class="form-control" type="date" id="date" name="date" value="dd/mm/yyyy" min="1980-01-01" max="2050-12-31" required>
				</div>

				<div class="col-4">
					<label for="title">Nom</label>
					<input class="form-control" type="text" id="title" name="title" placeholder="Saissez un nom de playlist" required>
				</div>

				<div class="col-4">
					<label for="name">Animateur</label>
					<input class="form-control" list="names-choice" id="name" name="name" placeholder="sélectionnez un animateur" required>
					<datalist id="names-choice">
						<option value="Jérôme"></option>
						<option value="Léandro"></option>
						<option value="Edouard"></option>
						<option value="Nicolas"></option>
					</datalist>
				</div>
			</div>

			<div>
				<div class="col-md-6 my-3">
					<label for="numero">Numéro d'inventaire</label>

					<div class="d-flex"><input type="text" placeholder="Numéro d'inventaire" id="numero" class="form-control me-3">
						<button type="submit" id="add-numero" class="btn btn-outline-dark">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<div>
					<ul id="list-numeros" name="discs[]"></ul>
				</div>

				<select multiple="multiple" name="discs[]" id="select" hidden></select>
			</div>

			<div class="mt-5">
				<button type="submit" class="btn btn-outline-warning">Ajouter</button>
			</div>

		</form>
	</div>
{% endblock %}
