{% extends 'base.html.twig' %}

{% block title %}Hello PlaylistController!
{% endblock %}

{% block body %}

	<div class="container">
		<form class="" method="post">

			<div class="row">
				<div class="col-4">
					<label for="date">Date</label>
					<input class="form-control" type="date" id="date" name="date" value="dd/mm/yyyy" min="1980-01-01" max="2050-12-31">
				</div>

				<div class="col-4">
					<label for="title">Nom</label>
					<input class="form-control" type="text" id="title" name="title" placeholder="Saissez un nom de playlist">
				</div>

				<div class="col-4">
					<label for="name">Animateur</label>
					<input class="form-control" list="names-choice" id="name" name="name" placeholder="sélectionnez un animateur"/>
					<datalist id="names-choice">
						<option value="Jérôme"></option>
						<option value="Léandro"></option>
						<option value="Edouard"></option>
						<option value="Nicolas"></option>
					</datalist>
				</div>
			</div>

			<div>
				<input type="text" placeholder="saisissez vos numéros" id="numero">
				
				<input type="submit" id="add-numero" value="+"></input>

				<div style="height: 200px; border: 2px solid black;">
					<ul id="list-numeros" style="height: 100%; border: 2px solid black; margin: 5px;" name="discs[]">
					</ul>
				</div>

				<select multiple="multiple" name="discs[]" id="select" hidden>
				</select>
			</div>

			<div class="mt-5">
				<button type="submit">
					{# <a href="{{ path('playlist_add') }}">
						Ajouter
					</a> #}
				</button>
			</div>

		</form>
	</div>

{% endblock %}
